<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <title>Filmster</title>

 </head>
 <body style=" background-image: url(https://wallpaperaccess.com/full/1155025.jpg);
 background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/tp238-background-03-kpqor301.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3431fda…);
 background-size: cover;
 background-position: center;

 background-image: url(https://www.xmple.com/wallpaper/black-pink-gradient-linear-3840x2160-c2-ff69b4-000000-a-105-f-14.svg);">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
 <a class="navbar-brand" href="{% url 'main:home' %}">Filmster</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
     </li>
     {% if user.is_authenticated %}
       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{user.username}}
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">My Profile</a>
         <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
         <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Settings</a>
       </div>
      </li>
     {% else %}
     <li class="nav-item">
       <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
     </li>
     {% endif %}
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genres</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/genre/28" action="/genre/">Action</a>
       <a class="dropdown-item" href="/genre/12" action="/genre/">Adventure</a>
       <a class="dropdown-item" href="/genre/16" action="/genre/">Animation</a>
       <a class="dropdown-item" href="/genre/35" action="/genre/">Comedy</a>
       <a class="dropdown-item" href="/genre/80" action="/genre/">Crime</a>
       <a class="dropdown-item" href="/genre/18" action="/genre/">Drama</a>
       <a class="dropdown-item" href="/genre/10751" action="/genre/">Family</a>
       <a class="dropdown-item" href="/genre/14" action="/genre/">Fantasy</a>
       <a class="dropdown-item" href="/genre/36" action="/genre/">History</a>
       <a class="dropdown-item" href="/genre/27" action="/genre/">Horror</a>
       <a class="dropdown-item" href="/genre/10402" action="/genre/">Music</option>
       <a class="dropdown-item" href="/genre/10749" action="/genre/">Romance</a>
       <a class="dropdown-item" href="/genre/878" action="/genre/">Science Fiction</a>
       <a class="dropdown-item" href="/genre/53" action="/genre/">Thriller</a>
     </div>
    </li>
  </ul>
   <form class="form-inline my-2 my-lg-0" method="post" action="/search/">
    {% csrf_token %}
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
 </div>
</nav>
   {% block content %}
   {% endblock %}

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>
