{% extends 'main/base.html' %}
{% block content %}

<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ response.poster_path }}" alt="Card image cap" width= "75%">

        </div>
        <div class="col-md-8">
          <h3 class="text-centre">{{ response.title }}</h3>
          <p>{{ response.overview }}</p>
          <h5>Rating : {{ response.vote_average }}</h5>
        </div>

      </div>
    </div>
  </div>

</div>
<br>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Post your Review!</h3>
    <form  action= "{% url 'main:review'  %}" method="post">
      {% csrf_token %}
      <label for="review">Review</label>
      <textarea name="review" rows="5" cols="30" class="form-control"></textarea>
      <label for="rating">Rating</label>
      <input type="text" name="rating" class="form-control">
      <br>
      <input type="submit" name="" value="Add Review" class="btn btn-danger">
    </form>

  </div>

</div>

<div class="card">
  <div class="card-body">
    <br>
    <ul>
      {% for reviews in review %}
        <li>{{ reviews.review }} <i>{{ reviews.user }}</i>  </li>



      {% endfor %}
    </ul>


  </div>

</div>
{% endblock %}
