<!-- #django way of templating is this. create a main folder within the tenplates folder within the main folder -->
{% extends 'main/base.html' %}
{% block content %}

<div class="container">
 <br>
 <div class="topic" style="
   /* border: 2px solid white; */
   display: flex;
   height: 34vh;
   /* text-align: center; */
   align-items: center;
   margin-bottom: 7px;
   color: antiquewhite;
   /* background-position: center; */
   justify-content: center;
   font-family: fantasy;
   font-size: 10vw;
">F I L M S T E R</div>
 <div class="top" style="
 height: 0vh;
 margin-bottom: 7px;
 background-position: center;
 /* width: 70em; */
 margin-left: 15px;
 border-radius: 11px;
 margin-right: 18px;
"></div>
<div> Search Results for {{ searchTerm }}</div>
 <div class="card" id="backdrop" style="background: transparent; border:none;" >
   <div class="card-body">
     <div class="row">
      {% for key, value in response3.items %}
       <div class="col-md-4">
         <div class="card" style="margin-bottom: 1em;">
           <div class="card-body">
               <img class="card-img-top" style="height:25em;" src="https://image.tmdb.org/t/p/w300{{ value.poster_path }}" alt="Card image cap" width= "75%">
               <br><br>
               <h5 class="card-title">{{ value.title }}</h5>
               <i>{{ value.release_date }}</i>
               <br><br>
               <div class="text-centre">
                 <a href="/details/{{ key }}/" class="btn btn-sm btn-info aria-pressed="true" " action="/detail/">Reviews and More</a>
               </div>
           </div>
         </div>

       </div>
       {% endfor %}

     </div>
   </div>
   <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->

 </div>
</div>

{% endblock %}
<!-- <li><a href="{% url 'main:details' movie.id %}">{{ movie.name }} -Directed by {{movie.director}}</li> -->
  <!-- #url routing we specified app_name as main in our urls.py and then we set our url route of detail page we had given the name details to that page and we passed it here along with the movie id parameter -->
